@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 45% 98%;
    --foreground: 48 20% 20%;

    --card: 50 28% 93%;
    --card-foreground: 48 20% 20%;

    --popover: 50 28% 93%;
    --popover-foreground: 48 20% 20%;

    --primary: 15 64% 60%;
    --primary-foreground: 50 28% 95%;

    --secondary: 16 53% 48%;
    --secondary-foreground: 50 28% 95%;

    --muted: 50 15% 85%;
    --muted-foreground: 48 20% 40%;

    --accent: 15 64% 60%;
    --accent-foreground: 50 28% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 50 28% 95%;

    --border: 50 15% 80%;
    --input: 50 15% 85%;
    --ring: 15 64% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 50 28% 92%;

    --card: 40 20% 13%;
    --card-foreground: 50 28% 92%;

    --popover: 40 20% 13%;
    --popover-foreground: 50 28% 92%;

    --primary: 15 64% 60%;
    --primary-foreground: 50 28% 95%;

    --secondary: 16 53% 48%;
    --secondary-foreground: 50 28% 95%;

    --muted: 40 15% 20%;
    --muted-foreground: 50 20% 65%;

    --accent: 15 64% 60%;
    --accent-foreground: 50 28% 95%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 50 28% 95%;

    --border: 40 15% 25%;
    --input: 40 15% 25%;
    --ring: 15 64% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.highlight {
  @apply font-bold transition-colors hover:text-slate-400;
}

.highlight-link {
  @apply font-bold underline underline-offset-4 transition-colors hover:text-slate-400;
}
