version: '3.9'

services:
  app:
    build:
      context: ../../
      dockerfile: ./docker-compose/Dockerfile
      target: dev
    container_name: dev-app
    restart: always
    command: npm run dev
    ports:
      - '3001:3000'
    volumes:
      - ../../:/app
      - /app/node_modules
      - /app/.next
