version: '3.9'

services:
  app:
    build:
      context: ../../
      dockerfile: ./docker-compose/Dockerfile
      target: builder
    container_name: prod-app
    restart: always
    command: npm run start
    ports:
      - '3002:3000'
    volumes:
      - ../../:/app
      - /app/node_modules
      - /app/.next
